/* Definição de fontes */
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Reset */
*{
    margin: 0px;
    padding: 0px;;
}

/* Estilo Desktop */

/* Definindo a cor de fundo do site */
body{
    background-color: #0E1014;
}

/* Criando uma classe de cor branca */
.cor-branca{
    color: #FFFFFF
}

/* definindo display block para poder manipular largura, altura e posicionamento da imagem */
header img{
    display: block;
    width: 210px;
    height: 34px;
    margin: 75px 0 0 360px;
}

/* Definindo a fonte, tamanho da fonte, e mudando o posicionamento */
h1{
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
}


/* Mudando a cor de uma parte do h1 */
h1 span{
    color: #9747FF;
}


/* Definindo a fonte, tamanho da fonte, largura e posicionamento */
p{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}


/*  */
a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
}
section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px){
    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
    }

}

    @media(max-width: 375px){
        header img{
            margin: 32px 0 0 16px;
        }

        h1{
            font-size: 40px
        }

        p{
            font-size: 20px;
            width: 341px;
        }

        section img{
            width: 341px;
            height: 230px;
        }

        a{
            font-size: 20px;
            width: 251px;
        }
    }
